apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    # Production Let's Encrypt server
    server: https://acme-v02.api.letsencrypt.org/directory
    
    # Email for Let's Encrypt notifications (certificate expiry, etc.)
    # TODO: Update this email address before deploying
    email: 73junito@users.noreply.github.com
    
    # Private key secret for ACME account
    privateKeySecretRef:
      name: letsencrypt-prod-account-key
    
    # HTTP-01 challenge solver
    solvers:
    - http01:
        ingress:
          class: nginx
---
# Staging ClusterIssuer for testing (higher rate limits, test certificates)
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    # Staging Let's Encrypt server (use for testing)
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    
    # TODO: Update this email address before deploying
    email: 73junito@users.noreply.github.com
    
    privateKeySecretRef:
      name: letsencrypt-staging-account-key
    
    solvers:
    - http01:
        ingress:
          class: nginx
