apiVersion: apps/v1
kind: Deployment
metadata:
  name: lms-api
  namespace: autolearnpro
spec:
  template:
    spec:
      containers:
      - name: lms-api
        image: autolearnpro/lms-api:local
        imagePullPolicy: IfNotPresent
        readinessProbe:
          httpGet:
            path: /api/health
            port: 4000
            scheme: HTTP
          initialDelaySeconds: 20
          periodSeconds: 10
          timeoutSeconds: 2
          successThreshold: 1
          failureThreshold: 3
        livenessProbe:
          tcpSocket:
            port: 4000
          initialDelaySeconds: 60
          periodSeconds: 30
          timeoutSeconds: 5
          successThreshold: 1
          failureThreshold: 3
